.search_tip{

  .title {
    font-size: 28px;
    color: #A1A1A1;
    background: #FFFFFF;
    padding: 24px 0 24px 20px;
    margin-top: 20px;
  }

  .line {
    height: 2px;
    border: none;
    background-color: #EFEFEF;
  }
}

