.detail_basic {
  background: #FFFFFF;
  padding: 40px 0 40px 40px;

  .name {
    font-size: 32px;
    color: #101010
  }

  .country{
    margin-top: 20px;
    font-size: 24px;
    color: #666666;
  }

  .tel{
    margin-top: 20px;
    font-size: 24px;
    color: #666666;
  }

  .web{
    margin-top: 20px;
    font-size: 24px;
    color: #666666;
  }
}
