.detail_trade{
  background: #FFFFFF;
  padding: 40px 0 40px 40px;
  margin-top: 20px;

  .head{
    font-size: 28px;
    color: red;
  }

  .iconchart{
    color: #999999;
  }
  .frequency{
    margin-top: 20px;
    font-size: 28px;
    color: #999999;
  }

  .amount{
    margin-top: 20px;
    font-size: 28px;
    color: #999999;
  }

  .record{
    margin-top: 20px;
    font-size: 28px;
    color: #999999;
  }
}
